<h1><%= @workout.date%></h1>
<div class="data-btns">
  <%= link_to "", method: :delete, class: "btn btn-md btn-danger", data:{confirm: "Are you sure? Fat is temporary, but deleting is forever!"} do %>
    Delete Workout &nbsp; <%= fa_icon "trash-o" %>
  <% end %>
  <%= link_to "Add Exercise", new_workout_exercise_path(@workout, @exercise), class:"btn btn-md btn-primary" %>
</div>
<div class="row-fluid">
  <div class="span8">
    <h4>You worked out at <%= @workout.location %></h4>
    <% if @workout.description %>
      <p><%= @workout.description %></p>
    <% end %>
  </div>
  <div>
    <%= render partial: "exercises/exercise", collection: @exercises %>
  </div>
</div>
