<!DOCTYPE html>
<html>
  <head>
    <title>Gains Track</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div class="navbar top-bar">
    <%= link_to welcome_path, class: 'logo' do %>
      <%= image_tag("GainsTrackLogo2.jpg", height:"60", width: "185", alt: "GainsTrackLogo") %>
    <% end %>
      <div class="pull-right user-info">
        <% if current_user %>
          <%= image_tag(current_user.avatar.small.url) if current_user.avatar? %>
          <p class="greeting"> Welcome <%= current_user.name || current_user.email %>! </p> &nbsp;
          <%= link_to edit_user_registration_path do %>
            <%= fa_icon "user", class:"fa-2x" %>
          <% end %>
          &nbsp;
          <%= link_to destroy_user_session_path, method: :delete do %>
            <%= fa_icon "sign-out", class:"fa-2x" %>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, class: "login-links" do %>
            Sign In &nbsp;<%= fa_icon "sign-in", class:"fa-lg" %>
          <% end %>
          <span class="nobr">&nbsp;&nbsp;or&nbsp;&nbsp;</span>
          <%= link_to new_user_registration_path, class: "login-links" do %>
            Sign Up &nbsp;<%= fa_icon "user-plus", class:"fa-lg" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="nav nav-pills lower-bar">
      <ul class="nav nav-tabs nav-stacked">
        <li class="nav-links"><%= link_to "Home", welcome_path, class: "nav-text" %></li>
        <li class="nav-links"><%= link_to "About", about_path, class: "nav-text" %></li>
        <% if current_user %>
          <li class="nav-links"><%= link_to "Track Weight/BF", new_user_weight_path(current_user.id), class: "nav-text" %></li>
          <li class="nav-links"><%= link_to "Weight History/BF", user_weights_path(current_user.id), class: "nav-text" %></li>
          <li class="nav-links"><%= link_to "New Workout", new_user_workout_path(current_user.id), class: "nav-text" %></li>
          <li class="nav-links"><%= link_to "Workout History", user_workouts_path(current_user.id), class: "nav-text" %></li>
        <% end %>
      </ul>
    </br>
    </br>
    </br>
    </br>
    </div>
    <div class="container">
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>
    </div>
    <div class="container main-page">

      <%= yield %>

    </div>
  </body>
</html>
